body {
  margin: 40px;
  background-color: rgb(255, 148, 148);
  font-size: 20px;
}

#outputParagraph {
  background-color: #cecece;
  width: 300px;
  padding: 10px;
}

#container {
  border: 2px solid black;
  padding: 15px;
}
