html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: lightyellow;
}

#outputParagraph {
  background-color: rgb (200, 200, 200);
}

#container {
  border: solid 2px black;
  padding: 20px;
}
